.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 27px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 17px;
}

.u-section-1 .u-text-2 {
  margin: 13px auto 0 17px;
}

.u-section-1 .u-form-1 {
  height: 238px;
  margin: 20px 4px 0 1px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 1px 0 13px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 578px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 27px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 17px;
}

.u-section-1 .u-text-5 {
  margin: 13px auto 0 17px;
}

.u-section-1 .u-form-2 {
  height: 393px;
  width: 511px;
  margin: 20px auto 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 9px;
}

@media (max-width: 1199px) {

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-group-1 {
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-form-group-2 {
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-1 .u-form-2 {
    width: 416px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-2 {
    width: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 117px;
  }
}