.u-section-1 .u-sheet-1 {
  min-height: 28px;
}

.u-section-1 .u-text-1 {
  text-align: start;
  margin: 0 auto 0 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 759px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 52px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  width: 682px;
  font-weight: normal;
  margin: 10px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 530px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-2 .u-line-1 {
  width: 168px;
  height: 3px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: normal;
  margin: 10px 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 93px;
  margin-bottom: 0;
  margin-top: 10px;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  width: 166px;
  margin: 6px auto 0;
}

.u-section-2 .u-text-7 {
  width: 166px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 530px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-2 .u-line-2 {
  width: 168px;
  height: 3px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: normal;
  margin: 10px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 21px 0 0;
}

.u-section-2 .u-text-11 {
  text-align: left;
  margin: 21px 0 0;
}

.u-section-2 .u-text-12 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-text-13 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 530px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-2 .u-line-3 {
  width: 168px;
  height: 3px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-15 {
  font-weight: normal;
  margin: 10px 0 0;
}

.u-section-2 .u-text-16 {
  margin: 21px 0 0;
}

.u-section-2 .u-text-17 {
  text-align: left;
  margin: 21px 0 0;
}

.u-section-2 .u-text-18 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-text-19 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 530px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-2 .u-line-4 {
  width: 168px;
  height: 3px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-21 {
  font-weight: normal;
  margin: 10px 0 0;
}

.u-section-2 .u-text-22 {
  margin: 21px 0 0;
}

.u-section-2 .u-text-23 {
  text-align: left;
  margin: 21px 0 0;
}

.u-section-2 .u-text-24 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-text-25 {
  text-align: left;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-2 .u-line-1 {
    width: 160px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    width: 160px;
  }

  .u-section-2 .u-text-7 {
    width: 160px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-2 .u-line-2 {
    width: 160px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 437px;
  }

  .u-section-2 .u-line-3 {
    width: 160px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 437px;
  }

  .u-section-2 .u-line-4 {
    width: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}