.u-section-1 .u-sheet-1 {
  min-height: 1560px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 25px auto 0 0;
}

.u-section-1 .u-table-1 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-2 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-3 {
  padding-top: 10px;
}

.u-section-1 .u-table-body-1 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-4 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-5 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-6 {
  padding-top: 10px;
}

.u-block-e841-51 {
  padding-top: 10px;
}

.u-block-e841-52 {
  padding-top: 10px;
}

.u-block-e841-53 {
  padding-top: 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-2 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-8 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-9 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-10 {
  padding-top: 10px;
}

.u-section-1 .u-table-body-2 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-11 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-12 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-13 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-14 {
  padding-top: 10px;
}

.u-block-e841-97 {
  padding-top: 10px;
}

.u-block-e841-98 {
  padding-top: 10px;
}

.u-block-e841-181 {
  padding-top: 10px;
}

.u-block-e841-99 {
  padding-top: 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-3 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-16 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-17 {
  padding-top: 10px;
}

.u-section-1 .u-table-body-3 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-18 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-19 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-20 {
  padding-top: 10px;
}

.u-block-e841-117 {
  padding-top: 10px;
}

.u-block-e841-118 {
  padding-top: 10px;
}

.u-block-e841-119 {
  padding-top: 10px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-4 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-table-header-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-22 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-23 {
  padding-top: 10px;
}

.u-section-1 .u-table-body-4 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-24 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-25 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-26 {
  padding-top: 10px;
}

.u-block-e841-137 {
  padding-top: 10px;
}

.u-block-e841-138 {
  padding-top: 10px;
}

.u-block-e841-139 {
  padding-top: 10px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-5 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-table-header-5 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-28 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-29 {
  padding-top: 10px;
}

.u-section-1 .u-table-body-5 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-30 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-31 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-32 {
  padding-top: 10px;
}

.u-block-e841-157 {
  padding-top: 10px;
}

.u-block-e841-158 {
  padding-top: 10px;
}

.u-block-e841-159 {
  padding-top: 10px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-6 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-table-header-6 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-33 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-34 {
  padding-top: 10px;
}

.u-section-1 .u-table-body-6 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-35 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-36 {
  padding-top: 10px;
}

.u-block-e841-177 {
  padding-top: 10px;
}

.u-block-e841-179 {
  padding-top: 10px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-7 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-table-header-7 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-37 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-38 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-39 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-40 {
  padding-top: 10px;
}

.u-section-1 .u-table-body-7 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-41 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-42 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-43 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-44 {
  padding-top: 10px;
}

.u-block-e841-200 {
  padding-top: 10px;
}

.u-block-e841-221 {
  padding-top: 10px;
}

.u-block-e841-224 {
  padding-top: 10px;
}

.u-block-e841-202 {
  padding-top: 10px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-8 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-table-header-8 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-45 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-46 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-47 {
  padding-top: 10px;
}

.u-section-1 .u-table-body-8 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-48 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-49 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-50 {
  padding-top: 10px;
}

.u-block-e841-218 {
  padding-top: 10px;
}

.u-block-e841-244 {
  padding-top: 10px;
}

.u-block-e841-219 {
  padding-top: 10px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-9 {
  margin: 26px auto 24px 0;
}

.u-section-1 .u-table-header-9 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-51 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-52 {
  padding-top: 10px;
}

.u-section-1 .u-table-body-9 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-53 {
  padding-top: 10px;
}

.u-section-1 .u-table-cell-54 {
  padding-top: 10px;
}

.u-block-e841-241 {
  padding-top: 10px;
}

.u-block-e841-242 {
  padding-top: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-9 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-top: 240px;
  }
}