<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <title>Buy Service</title>
    <link rel="stylesheet" href="cssss/main.css" media="screen">
    <link rel="stylesheet" href="cssss/BuyService.css" media="screen">

    <script type="text/javascript" th:inline = "javascript">
        /*<![CDATA[*/
            function populate(s1, s2) {
                let sel1 = document.getElementById(s1);
                let sel2 = document.getElementById(s2);
                sel2.innerHTML = "";
            /*[# th:each="p : ${packages}"]*/
                var packId = [[${p.id}]];
                if (sel1.value == packId) {
                    /*[# th:each="op : ${p.optionalProducts}"]*/
                        var option = document.createElement("option");
                        option.value = [[${op.name}]];
                        option.innerHTML = [[${op.name}]];
                        sel2.options.add(option);
                    /*[/]*/
                }
            /*[/]*/
         /*]]>*/
        }
    </script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

  </head>
  <body class="u-body u-xl-mode">
  <header class="u-align-center u-clearfix u-header u-header" id="sec-9706"><div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-palette-1-base u-text-1">TelcoService</h2>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" style="opacity: 1">
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                <li class="u-nav-item">
                    <a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="getpackinfo" style="padding: 10px 20px;">Home</a>
                </li>
                <li class="u-nav-item">
                    <a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="LoginRegister" style="padding: 10px 20px;">Log-In</a>
                </li>
                <li class="u-nav-item">
                    <a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="buyservice" style="padding: 10px 20px;">Buy Service</a>
                </li>
            </ul>
          </div>
        </nav>
      <p class="u-text u-text-default u-text-2" style="margin: 13px 105px 14px auto; font-size: larger" th:if="${username != null}" th:text="${'Welcome ' + username}"></p>
      </div>
  </header>
    <section class="u-clearfix u-section-1" id="sec-ddc7">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-form u-form-1">
          <form action="confirmation" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-select u-form-group-1">
              <label for="select-pack" class="u-label u-label-1">Select one package</label>
              <div class="u-form-select-wrapper">
                <select id="select-pack" name="select_pack" onchange="populate(this.id, 'select-op-p')" class="u-border-1 u-border-grey-75 u-input u-input-rectangle u-white u-input-1">
                    <option selected>---</option>
                  <option th:each="p : ${packages}" th:text="${p.name}" th:value="${p.id}"></option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>
            <div class="u-form-group u-form-select u-form-group-2">
              <label for="select-val-p" class="u-label u-label-2">Select the validity period</label>
              <div class="u-form-select-wrapper">
                <select id="select-val-p" name="select_valPer" class="u-border-1 u-border-grey-75 u-input u-input-rectangle u-white u-input-2">
                    <option selected>---</option>
                    <option th:each="v : ${validityPeriods}" th:text="${v.num_month}" th:value="${v.num_month}"></option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>
            <div class="u-form-group u-form-select u-form-group-3">
              <label for="select-op-p" class="u-label u-label-3">Select the optional product</label>
              <div class="u-form-select-wrapper">
                <select id="select-op-p" name="select_optProd" class="u-border-1 u-border-grey-75 u-input u-input-rectangle u-white u-input-3" size="7" multiple>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>
            <div class="u-form-date u-form-group u-form-group-4">
              <label for="date-0fbb" class="u-label u-label-4">Select the start date of subscription</label>
              <input type="date" placeholder="MM/DD/YYYY" id="date-0fbb" name="dateSub" class="u-border-1 u-border-grey-75 u-input u-input-rectangle u-white u-input-4" required>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <input type="submit" value="Confirm" class="u-btn u-btn-submit u-button-style">
            </div>
          </form>
            <p class="u-text u-text-palette-2-base u-text-3" style="font-weight: 700" th:text="${msg}"></p>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-4706"><div class="u-align-left u-clearfix u-sheet u-sheet-1"></div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
    </section>
  </body>
</html>