<!DOCTYPE html>
<html style="font-size: 16px;"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css" media="screen">
    <link rel="stylesheet" href="css/Home.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
</head>

<body class="u-body u-xl-mode">
<header class="u-clearfix u-header u-header" id="sec-9706">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
    <h2 class="u-text u-text-default u-text-palette-1-base u-text-1">TelcoService</h2>
    <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" style="opacity: 1">
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                <li class="u-nav-item">
                    <a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="getpackinfo" style="padding: 10px 20px;">Home</a>
                </li>
                <li class="u-nav-item">
                    <a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="LoginRegister.html" style="padding: 10px 20px;">Log-In</a>
                </li>
                <li class="u-nav-item">
                    <a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="buyservice" style="padding: 10px 20px;">Buy Service</a>
                </li>
            </ul>
        </div>
    </nav>
        <p class="u-text u-text-default u-text-2" style="margin: 13px 105px 14px auto; font-size: larger" th:if="${username != null}" th:text="${'Welcome ' + username}"></p>
</div>
</header>
<section class="u-clearfix u-section-1" id="sec-a058">
    <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <h4 class="u-text u-text-default u-text-1" style="font-weight: 700">Welcome in TelcoService Consumer Home Page.</h4>
    </div>
</section>


<section class="u-align-center u-clearfix u-section-2" id="sec-c310">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div th:if="${packages != null}">
            <h2 class="u-text u-text-default u-text-1">Service Packages</h2>
            <p class="u-text u-text-2">Find out which service package is right for you:</p>
        </div>
        <div th:if="${packages == null}">
            <h2 class="u-text u-text-default u-text-1">No Packages have been created yet.</h2>
        </div>
        <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div th:each="p : ${packages}" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-grey-5 u-layout-cell u-left-cell u-size-15 u-size-30-md u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h3 class="u-align-center u-text u-text-3" th:text="${p.name}"></h3>
                            <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
                            <div th:each="s : ${p.services}" class="u-align-left u-container-style u-expanded-width u-group u-shape-rectangle u-group-1">
                                <div class="u-container-layout">
                                    <ul class="u-text u-text-5">
                                        <li>
                                            <span style="font-weight: 700;" th:text="${s.type + ' :'}"></span>
                                        </li>
                                    </ul>
                                    <p class="u-text u-text-7" style="margin: 5px 0px 0px 20px;" th:if="${s.n_min}" th:text="${'Minutes : ' + s.n_min}"></p>
                                    <p class="u-text u-text-7" style="margin: 5px 0px 0px 20px;" th:if="${s.n_sms}" th:text="${'SMS : '+ s.n_sms}"></p>
                                    <p class="u-text u-text-7" style="margin: 5px 0px 0px 20px;" th:if="${s.n_gbs}" th:text="${'GB : ' + s.n_gbs}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-4706"><div class="u-align-left u-clearfix u-sheet u-sheet-1"></div></footer>
<section class="u-backlink u-clearfix u-grey-80">
</section>
</body>
</html>